<%= link_to "Log_out", destroy_user_session_path, method: :delete %>
<% unless :authenticate? %>
  <%= link_to "Log_in", user_session_path %>
  <%= link_to "Sign_up", new_user_registration_path %>
<% end %>

<h1>Home</h1>
